<section class="projects" id="projets">
    <div class="content my-container">
        <h2 class="title">Mes Réalisations</h2>

        <div class="summary">
            <p>Vous retrouvez ici quelques projets sur lesquels j'ai été emmené à travailler.</p>
            <p>Pour chacun d'entre eux, vous pouvez aussi accéder à une étude de cas détaillant mon approche et les différentes phases phases suivies tout au long du projet jusqu'à leurs livraisons.</p>
        </div>

        <div class="project-list">
            @for(projectSummary of projectSummaryList; track $index){
                <div class="project" (click)="onProjectSummaryClicked(projectSummary.id)"  >
                    <div class="project-image">
                        <img src={{projectSummary.image}} alt={{projectSummary.summary}} />
                    </div>
                    
                    <div class="texts">
                        <h3 class="project-title">{{projectSummary.title}}</h3>
                        <p class="project-summary">{{projectSummary.summary}}</p>

                        <button>
                            <span>Voir plus</span>
                            <i class="pi pi-arrow-right"></i>
                        </button>
                    </div>
                </div>

            }
        </div>
    </div>
</section>