<section class="about" id="a-propos">

    <div class="content my-container">

        <h2 class="title">À Propos</h2>
        <div class="texts-image">

            <div class="texts-bloc">

                <div class="texts">
                    <span>
                        Je suis un développeur fullstack js web basé à Rennes. Je conçois et développe des sites et applications web en m'outillant de ma créativité sans jamais faire de compromis sur la qualité.
                    </span>
    
                    <span>Que vous soyez un particulier, une startup ou une entreprise établie cherchant à franchir l'étape numérique, je travaillerai avec vous pour créer des solutions digitales innovantes dont vous avez besoin pour développer votre activité .</span>
     
                    <span>
                        Je suis autonôme, travailleur et passionné. J'aime me frotter à de nouveaux défis. N'hésitez donc pas à me contacter afin qu'on atteigne ensemble vos objectifs. 
                    </span>    
                </div>

                <button data-aos="fade-right" data-aos-delay="300">
                    Contactez-moi
                </button>
            </div>

            <div class="image-wrapper" data-aos="fade-top" data-aos-delay="200">
                <img src="../../../assets/img/desk.jpeg" alt="illustration of a digital solutions">
            </div>

        </div>

        <div class="profil">
            <div class="profil-bloc">
                <div class="profil-content">
                    <div class="profil-info technos">
                        <div class="profil-info-conteneur">
                            <div class="skills" data-aos="fade-right" data-aos-delay="500">
                                <span class="skills-title">Front-End</span>
                                <div class="images-logo">
                                    
                                    <div>
                                        <img src="../../../assets/img/logos/angular_logo.png" alt="angular logo">
                                        <span>Angular</span>
                                    </div>
    
                                    <div>
                                        <img src="../../../assets/img/logos/bootstrap_logo.png" alt="bootstrap logo">
                                        <span>Bootstrap</span>
                                    </div>
    
                                    <div>
                                        <img src="../../../assets/img/logos/scss_logo.png" alt="Scss logo">
                                        <span>Saas</span>
                                    </div>
    
                                    <div>
                                        <img src="../../../assets/img/logos/primeng_logo.png" alt="Scss logo">
                                        <span>Prime NG</span>
                                    </div>
                                </div>
                            </div>
        
                            <div class="skills" data-aos="fade-right" data-aos-delay="250">
                                <span class="skills-title">Back-End</span>
                                <div class="images-logo">
                                    <div>
                                        <img src="../../../assets/img/logos/node_logo.png" alt="Node js logo">
                                        <span>Node js</span>
                                    </div>
    
                                    <div>
                                        <img src="../../../assets/img/logos/express_logo.png" alt="Express js logo">
                                        <span>Express js</span>
                                    </div>
    
                                    <div>
                                        <img src="../../../assets/img/logos/nodemailer_logo.png" alt="Nodemailer logo">
                                        <span>Nodemailer</span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="skills" data-aos="fade-left" data-aos-delay="250">
                                <span class="skills-title">Base de donées</span>
                                <div class="images-logo">
                                    <div>
                                        <img src="../../../assets/img/logos/mongodb_logo.png" alt="MongoDB logo">
                                        <span>MongoDB</span>
                                    </div>
    
                                    <div>
                                        <img src="../../../assets/img/logos/postgres_logo.png" alt="Postgresql js logo">
                                        <span>PostgreSQL</span>
                                    </div>
                                </div>
                            </div>

                            <div class="skills" data-aos="fade-left" data-aos-delay="500">
                                <span class="skills-title">Design</span>
                                <div class="images-logo">
                                    <div>
                                        <img src="../../../assets/img/logos/adobe_logo.png" alt="Adobe XD logo">
                                        <span>Adobe XD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </div>
</section>