<div class="project-details">
    <div class="header">
        <div class="content header-container">
            <p class="case-study-title"> {{heroData.name}} </p>
            <button (click)="closeProject()">Fermer</button>
        </div>
    </div>
    <app-project-details-hero-banner [hero]="heroData"></app-project-details-hero-banner>
    <app-range-project-image-slider [images]="images"></app-range-project-image-slider>
    <app-project-details-case-study [caseStudy]="caseStudyData"></app-project-details-case-study>
</div>
