.project-details-hero-banner{
    background-color : var(--project-blue-primary-color);
    color : var(--pf-background-color);
    display: flex;
    justify-content: center;

    .content{
        display: flex;
        flex-direction: row;
        width : 100%;
        margin-top: 12rem;
        align-items: flex-start;
        justify-content: space-between;

        .texts-bloc{
            display: flex;
            flex-direction: column;
            margin-bottom: 250px;
            width: 100%;

            .tags{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                margin-bottom: 2rem;

                .tag{
                    display: flex;
                    gap: 0.8rem;
                    
                    font-size: 15px;
                    padding: 8px 15px;
                    color: var(--project-blue-secondary-color);
                    background-color: var(--project-blue-tertiary-color);
                    border-radius: 5px;
                    border: 2px solid var(--project-blue-quaterly-color);

                    span{
                        font-style: italic;
                    }
                }
            }

            h1{
                font-size: 5rem;
                font-weight: 500;
                margin-bottom : 1rem ;
                color: var(--project-yellow-primary-color);
                max-width: 100%;
                width: 100%;
            }

            p{
                font-size: 15px;
                line-height: 28px;
                font-weight: 300;
                margin-bottom: 3rem;
                color: var(--project-white-secondary-color);
                width: 100%;
            }

            .buttons{
                display: flex;
                gap: 1.5rem;
                flex-wrap: wrap;

                button{
                    padding: 10px 30px;
                    border-radius: 5px;
                    border: none;
                    font-size: 15px;
                    cursor: pointer;
                    font-size: 15px;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        transform: translateY(-5px);
                        box-shadow: 0 6px 20px white;
                    }
                }

                .public{
                    background-color: var(--project-yellow-primary-color);
                    font-weight: bold;
                }

                .admin{
                    background-color: transparent;
                    border: 2px solid white;
                    color: white;
                }
            }
        }

        .image-wrapper{
            display: none;
            position: relative;
            width: 300px;
            height: 300px;

            img{
                object-fit: cover;
            }
        }
    }
}