<div class="project-details-hero-banner">
    <div class="content my-container">
        <div class="texts-bloc">
            <span>{{hero.name}}</span>
            <h4> {{hero.activity}} </h4>
            <p>{{hero.summary}}</p>

            <ng-container *ngIf="hero?.links; else noOnline">
                <div class="buttons">
                    <ng-container *ngFor="let link of hero?.links">
                        <ng-container [ngSwitch]="link.type">
                            <button *ngSwitchCase="'public'" class="public">Visiter le site web</button>
                            <button *ngSwitchCase="'admin'" class="admin">Démo de la partie admin</button>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #noOnline>

            </ng-template>
            
        </div>
<!--
        <img src="../../../../assets/img/projects/ev-responsive.png">
-->
    </div>
</div>
