<div class="range-project-image-slider">
    <div class="content my-container">
        <p-carousel styleClass="images-slider" [value]="images" [numVisible]="2" [numScroll]="1" [responsiveOptions]="responsiveOptions">
            <ng-template let-image pTemplate="item">
                <div 
                    [ngStyle]="{'background-image': 'url('+image+')'}"
                    class="image-viewer"
                    (click)="onImageRangeClicked(image)"
                    >
                </div>
            </ng-template>
        </p-carousel>
        <p-galleria 
            [value]="images" 
            [(visible)]="displayCustom" 
            [(activeIndex)]="activeIndex" 
            [responsiveOptions]="responsiveOptions" 
            [containerStyle]="{'max-width': '850px'}" 
            [numVisible]="7"
            [circular]="true" 
            [fullScreen]="true" 
            [showItemNavigators]="true" 
            [showThumbnails]="false" 
            [baseZIndex]="100000"
        >

        <ng-template pTemplate="item" let-item>
            <img [src]="item" style="width: 100%; display: block;"/>
        </ng-template>
    </p-galleria>
    </div>
</div>
