:root{
    --project-white-primary-color: #f3f3f3;
    --project-white-secondary-color: #bebcbc;
    --project-blue-primary-color: #00011f;
    --project-blue-secondary-color: #a3a5d1fd;
    --project-blue-tertiary-color: #8d81b63d;
    --project-blue-quaterly-color: #3f425f;
    --project-red-primary-color: #FF3100;
    --project-yellow-primary-color: #FFCC00;
    --secondary-color: #6c757d;
    --pf-border-color: #5e5e5e;
}