:root{
    --pf-background-color: #f3f3f3;
    --pf-dark-blue-color: #00011f;
    --pf-red-color: #FF3100;
    --pf-yellow-color: #FFCC00;
    --secondary-color: #6c757d;
    --pf-border-color: #5e5e5e;
}