<div class="project-details-case-study">
    <div class="content my-container">
        <div class="context">
            <h2 class="case-study-header">Le Contexte</h2>
            <p>{{caseStudy.context}}</p>
        </div>

        <div class="solutions">
            <h2 class="case-study-header">Les fonctionnalités principales</h2>
            <p>{{caseStudy.solutions.intro}}</p>

            <div class="proposals">
                <ng-container *ngFor="let proposal of caseStudy.solutions.proposals">
                    <div class="proposal">
                        <ng-container [ngSwitch]="proposal.type">
                            <h3 *ngSwitchCase="'public'"> <fa-icon [icon]="faGlobe"></fa-icon> Partie Publique</h3>
                            <h3 *ngSwitchCase="'admin'"> <fa-icon [icon]="faLock"></fa-icon> Partie Admin</h3>
                            <h3 *NgSwitchDefault> <fa-icon [icon]="faGlobe"></fa-icon> Site Web</h3>
                        </ng-container>
                        <div class="lists">
                            <ng-container *ngFor="let text of proposal.lists">
                                <div class="list">
                                    <p> {{text.header}} </p>
                                    <p> {{text.detail}} </p>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="work">
            <h2 class="case-study-header">Le Processus De Développement</h2>

            <div class="intro">
                <ng-container *ngFor="let text of caseStudy.work.intro">
                    <p> {{text}} </p>
                </ng-container>
            </div>

            <div class="steps">
                <ng-container *ngFor="let step of caseStudy.work.steps">
                    <div class="step">
                        <i [class]="step.icon"></i>
                        <h5> {{step.header}} </h5>
                        <div class="texts">
                            <ng-container *ngFor="let text of step.texts">
                                <p>{{text}}</p>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="technos">
            <h2 class="case-study-header">Technologies utilisées</h2>
            <div class="list">
                <ng-container *ngFor="let techno of caseStudy.technos">
                    <div class="techno">
                        <img src={{techno.image}} alt={{techno.name}}>
                        <span>{{techno.name}}</span>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
